.output {
    text-align:center;
    font-family: 'Source Code Pro', monospace;
  }
  /* Cursor Styling */
  .cursor{
      font-size: 1.5em;
  }
  .cursor::after {
    content:'';
    display:inline-block;
    margin-left:3px;
    background-color:#333;
    animation-name:blink;
    animation-duration:0.5s;
    animation-iteration-count: infinite;
  }
  .cursor::after {
    height:24px;
    width:13px;
  }
  .cursor::after {
    height:20px;
    width:10px;
  }
  
  @keyframes blink {
    0% {
      opacity:1;
    }
    49% {
      opacity:1;
    }
    50% {
      opacity:0;
    }
    100% {
      opacity:0;
    }
  }