html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  font-family: 'Overpass', sans-serif;
  color: #353535cf;

  height: 100vh;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}


#aboutMe h3 {
  font-size: 2em !important;
}

.bg1 {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  border-radius: 1em 0 0 0;
}

.bg2 {
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

.bg3 {
  /* background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); */
  background-color: #325376;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bg3 img {
  width: 100% !important;
}

.bg4 {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  border-radius: 0 1em 0 0;
}

.bg5 {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.bg6 {
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}

.bg7 {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.bg8 {
  background-color: #FFF;
}

.bgPedagogie {
  background: url(/assets/img/pedagogie.jpg);
  min-height: 250px;
  background-size: cover;
}

.bgLaManu {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #DCD9D4;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), radial-gradient(at 50% 0%, rgba(255, 255, 255, 0.10) 0%, rgba(0, 0, 0, 0.50) 50%);
  background-blend-mode: soft-light, screen;
  padding: 2em;
}

.bgLaManu img {
  padding: 1em;
}

:root {
  --colorMain: #ece0d7;
  --brShadow: 2px -5px 6px rgba(0, 0, 0, 0.5);
  --tlShadow: -3px -3px 10px rgba(255, 255, 255, 0.8);
}


h2 {
  font-size: 5em;
  font-weight: normal;
  font-family: 'Noto Sans', serif;
  margin-bottom: 0.6em;
  margin-top: 0;
}

h2 ::before,
h2 ::after {
  position: absolute;
  background: var(--colorMain);
  content: '';
  border-radius: 10%;

}

h2 ::before {
  left: 0;
  width: 100px;
  height: 100px;
  top: -150px;
  z-index: 10;
  box-shadow: inset var(--brShadow),
    inset var(--tlShadow);

}

h2 ::after {
  left: -50px;
  width: 200px;
  height: 200px;
  top: -200px;
  box-shadow: var(--brShadow),
    var(--tlShadow);
}






.container {
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #353535;
  text-decoration: none;
  position: relative;
}

a::after {
  position: absolute;
  right: 0;
  content: '';
  display: block;
  height: 3px;
  width: 0;
  background-color: black;
  margin-top: 8px;

}

a:hover::after {
  width: 120%;
  transition: all 600ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  /* easeOutQuad */
  transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
  /* easeOutQuad */
}

header,
#skills,
#favourites,
#contact,
#xperience {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#skills {
  /* background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply; */
}

header {
  border-top: 0;
}

#xperience {
  /* background-image: url(/assets/img/portfolio-wall.jpg); */
  /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  border-top: 1px solid #353535;
}

#xperience .grid {
  width: 80%;
}

#xperience h2 {
  color: whitesmoke;
  text-align: center;
  padding-top: .5em;
}

h1 {
  font-size: 5em;
}

h3 {
  font-size: 1.2em;
  text-align: center;
  mix-blend-mode: exclusion;
  color: darkgrey;
  font-weight: 100;
}



#fixedMenu {
  animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
  -moz-animation: fadeIn linear 1s;
  -o-animation: fadeIn linear 1s;
  -ms-animation: fadeIn linear 1s;
  position: fixed;
  top: 35%;
  right: 0;
  /* border-radius: 9px;
    background: #E8DBD1;
    box-shadow: inset 6px 6px 12px #d1c5bc, 
                inset -6px -6px 12px #fff1e6; */
  /* mix-blend-mode: difference; */
  /* background-color: rgba(0,0,0,.1); */
  border-radius: 13px 0 0 13px;
  z-index: 100;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


#fixedMenu ul {
  list-style-type: none;
  padding: 0;
}

#fixedMenu ul li {
  text-align: right;
  font-size: 1em;
}

.btn-special1 {
  padding: 1em;
}


.moving-zone {
  perspective: 800px;

}

.popup {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px 0 20px 0;
  cursor: pointer;
  transform-style: preserve-3d;
  background: -webkit-linear-gradient(top left, white 50%, coral 50%);
  background: -moz-linear-gradient(top left, white 50%, coral 50%);
  background: -ms-linear-gradient(top left, white 50%, coral 50%);
  background: -o-linear-gradient(top left, white 50%, coral 50%);
  background: linear-gradient(top left, white 50%, coral 50%);
}

.popup:before {
  content: '';
  position: absolute;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  border-radius: inherit;
  background: rgba(0, 0, 0, .1);
  box-shadow: 0 0 40px 20px rgba(0, 0, 0, .1);
  transform: translateZ(-100px);
}

.popup-content {
  background: radial-gradient(#666, #222);
  padding: 2em 4em;
  box-sizing: border-box;
  border-radius: 10px 0 10px 0;
}

.popup-text {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 20px;
  font-weight: 100;
  transform: translateZ(15px);
  margin-bottom: 1.2em;
}

.popup-text b {
  color: coral;
  font-weight: 300;
}

.skillName {
  font-weight: bold;
  font-size: 1.6em;
  vertical-align: middle;
  padding-right: 1em;
  color: khaki;
}

.skillvalue {
  font-family: 'Nothing You Could Do', cursive;

  font-size: 1.4em;
  padding-left: 1em;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.formContact {
  display: flex;
  flex-direction: column;
  width: 50%;
}

input[type=text],
input[type=email],
textarea {
  font-size: 1.5em;
  height: 2em;
  padding: 1em;
  border-radius: 8px;
  margin-bottom: 1em;
}

textarea {
  height: inherit;
}

input[type=submit] {
  font-size: 2em;
  height: 2em;
  border-radius: 8px;
  margin-bottom: 1em;
}

#contact form {
  margin-bottom: 2em;
}

a:hover {
  text-decoration: none;
}

#contact .logo {
  height: 50px;
}


#downloadCv {
  position: fixed;
  top: 40%;
  width: 2em;
  height: 6em;
  background-color: #fc6076;
}

#downloadCv:hover {
  transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  /* easeOutQuad */
  width: 3em;
}


.btnActif {
  position: fixed;
  top: 35%;
  left: -60px;
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid grey;
  outline: none;
  transform: rotate(-0.25turn);
  background-color: #ff7f50;

}

svg {
  position: absolute;
  left: 0;

  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btnActif:hover {
  transition: 1s ease-in-out;
  background-color: #ff7f50;
}

.btnActif:hover svg {
  stroke-dashoffset: -480;
}

.btnActif span {
  color: grey;

  font-size: 18px;
  font-weight: 100;
}